USE [master]
GO
/****** Object:  Database [20201210-sp]    Script Date: 10/12/2020 18:44:30 ******/
CREATE DATABASE [20201210-sp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'20201210-sp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\20201210-sp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'20201210-sp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\20201210-sp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [20201210-sp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [20201210-sp]
GO
/****** Object:  Table [dbo].[log]    Script Date: 10/12/2020 18:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[jugador] [varchar](100) NOT NULL,
	[puntos] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
